@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

@import "preline/variants.css";
@source "../node_modules/preline/dist/*.js";

@plugin "@tailwindcss/forms";

@layer base {
  :root {
    --color-sand-light: #ffe7c8;
    --color-sand-dark: #f9c88f; /* Slightly darker than sand */
    --color-text-default: #1f2937;
    --color-sand-accent: #ff914d;
    --color-sand-accent-dark: #e67e22; /* Darker accent color */
    --color-sand-border: #fcd9b0; /* Slightly darker than sand */
  }

  body {
    @apply bg-[var(--color-sand-light)] text-[var(--color-text-default)];
    font-family: var(--font-text), Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: var(--color-text-default);
  }

  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}

@theme {
  --color-primary: var(--color-sand-light);
  --color-secondary: var(--color-sand-dark);
  --color-accent: var(--color-sand-accent);
  --color-accent-dark: var(--color-sand-accent-dark);
  --color-border: var(--color-border);
  --color-text-default: var(--color-text-default);
  --color-text-secondary: var(--color-sand-dark);
  --color-text-accent: var(--color-sand-accent);
  --color-text-inverse: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6,
b,
strong {
  font-family: var(--font-display);
}

/* Optional: Custom Utility Classes */
@layer components {
  .btn-primary {
    @apply bg-accent text-white font-semibold py-2 px-4 rounded hover:opacity-90;
  }

  .card {
    @apply bg-white shadow-md rounded-lg p-4 border border-[var(--color-border)];
  }
}
